# Markdown ячейка
можно вставлять $Latex$: $e^{i \pi} +1 = 0$

In [27]:
import pandas as pd

In [15]:
a = 4
b = 5
a + b

9

In [12]:
x = [1,2,3,4,5,6,7,8]
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
x[:4]

[1, 2, 3, 4]

In [18]:
df = pd.DataFrame({
    'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
    'population': [17.04, 143.5, 9.5, 45.5],
    'square': [2724902, 17125191, 207600, 603628]})
df

      country  population    square
0  Kazakhstan       17.04   2724902
1      Russia      143.50  17125191
2     Belarus        9.50    207600
3     Ukraine       45.50    603628

In [22]:
print(x)
print (df)
x[:4]

[1, 2, 3, 4, 5, 6, 7, 8]
      country  population    square
0  Kazakhstan       17.04   2724902
1      Russia      143.50  17125191
2     Belarus        9.50    207600
3     Ukraine       45.50    603628

[1, 2, 3, 4]

In [20]:
print (df)

      country  population    square
0  Kazakhstan       17.04   2724902
1      Russia      143.50  17125191
2     Belarus        9.50    207600
3     Ukraine       45.50    603628

In [25]:
from IPython.display import Latex
a = 2
b = 3
display(Latex(r'$a^b='+str(a**b)+'$'))

In [35]:
from IPython.display import Latex
a = 2
b = 3
display(Latex(r'$a^b={}$'.format(a**b)))

In [37]:
from IPython.display import Markdown
name = 'Паша'
display(Markdown(r'## {}'.format(name)))

## Паша